*{
    /* border: 1px solid red; */
}

/* Global */
.logo {
    font-size: 22px;
    letter-spacing: 3px;
}
.mobile-logo {
    font-size: 24px;
    letter-spacing: 3px;
}

li {
    list-style: none;
}

button {
    transition: ease 0.1s !important;
}

a{
    text-decoration: none !important;
}

/* Sidebar */
.sidebar {
    /* position: fixed; */
    z-index: 1;
    box-shadow: 0 10px 10px black !important;
    background-color: #1e1f26;
    width: 165px !important; /* dependant variable!*/
}

.sidebar-heading {
    letter-spacing: 1.5px;
    font-size: 10px;
}

.sidebar li i {
    color: #6c6e75;
}

.sidebar .active{
    color: #76daff !important;
}

.sidebar .create-btn {
    position: relative;
    background-color: #31353f;
    height: 45px;
    transition: ease .1s;
}

.sidebar .create-btn::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    height: 3px;
    width: 100%;
    z-index: 1;
    background: linear-gradient(70deg, #0ebeff, #ffdd40, #ae63e4, #47cf73);
    border-radius: 5px 5px 0px 0px;
}

.sidebar .create-btn:hover {
    background-color: #000000;
}

.sidebar .create-btn:hover i {
    color: #76daff;
}

.sidebar .create-link {
    height: 100%;
    width: 100%;
}

.sidebar .link {
    width: 100%;
    height: 38px;
    transition: ease .1s;
}

.sidebar .link:hover {
    background-color: #131417;
}

/* Navbar */
.navbar {
    background-color: #000000;
    height: 70px;
    border-bottom: 1px solid #2b2c36;
}

.navbar .btn-group button {
    background-color: #282b33;
    border: none;
    height: 40px;
    border-bottom: 2px solid #282b33;
}

.navbar .offcanvas-btn {
    background-color: #282b33;
    border: none;
    height: 45px;
    width: 45px;
}

.navbar .offcanvas-btn:hover {
    background-color: #444857;
    border: none;
}

.navbar .btn-group a {
    color: #b7bbc8 !important;
}

.navbar .btn-group button:hover {
    box-sizing: border-box;
    background-color: #282b3390;
    border-bottom: 2px solid #b7bbc8;
}

.navbar .btn-group button:hover a {
    color: #ffffff !important;
}

.navbar .selected {
    background-color: #444857 !important;
    border-bottom: 2px solid #47cf73 !important;
}

.navbar .selected:hover {
    background-color: #444857 !important;
    border-bottom: 2px solid #47cf73 !important;
}

.navbar .selected a {
    color: #ffffff !important;
}

.navbar .input-group-text {
    background-color: #282b33;
    color: #b7bbc8;
    border: none;
}

.navbar input {
    width: unset;
    border: none;
    background-color: #282b33;
    color: #b7bbc8;
    height: 40px;
    border-radius: 0 5px 5px 0;
    text-overflow: ellipsis;
}

.navbar input:focus {
    border: none;
    outline: none;
    background-color: #282b33;
    color: #b7bbc8;
}

.navbar .menus button {
    background-color: #282b33;
    border: none;
    height: 40px;
}

.navbar .menus button:hover {
    background-color: #444857;
    border: none;
}

.navbar .dropdown img {
    height: 40px;
    width: 40px;
    border-radius: 5px;
}

.navbar .dropdown img:hover {
    cursor: pointer;
}

.navbar .dropdown-menu {
    background-color: #282b33;
}

.navbar .dropdown ul {
    margin-top: 5px;
    width: 175px;
    left: -130px !important;
}

/* Main Content */
.main-content {
    background-color: #131417;
    min-height: 100vh;
    width: 100%;
}

/* Footer */
footer {
    background-color: #000000;
    min-height: 150px;
}

footer a:hover .label {
    color: #0ebeff;
}

footer .copyright {
    font-size: 13px;
}

/* Model -- Pinned Items */
.modal-content {
    background-color: #131417 !important;
    border: 3px solid #262830 !important;
}

.modal-header {
    border-bottom: 3px solid #262830 !important;
}

.modal-header i {
    color: #76daff !important;
}

.modal-body {
    /* border-bottom: none !important; */
}
.cell{
    background-color: #0e0e10;
    border: 1px solid #131417;
    display: flex;
    align-items: center;
    height: 40px;
}
.modal-body .title{
    color: #76daff;
    font-size: 14px !important;
}
.table-data{
    display: flex;
    align-items: center;
    font-size: 12px;
    margin: 0;
}

.modal-footer {
    border-top: none !important;
    background-color: #0a0a0c !important;
}

/* Offcanvas */
.offcanvas {
    background-color: #1e1f26 !important;
    width: 250px !important;
}

.offcanvas-header button i:hover {
    color: #9599a1 !important;
}

.offcanvas .item-menu-heading {
    letter-spacing: 1.5px;
    font-size: 10px;
}

.offcanvas li i {
    color: #6c6e75;
}
.offcanvas .active{
    color: #0ebeff;
}

.offcanvas .create-btn {
    position: relative;
    background-color: #31353f;
    height: 45px;
    transition: ease .1s;
}

.offcanvas .create-btn::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    height: 3px;
    width: 100%;
    z-index: 1;
    background: linear-gradient(70deg, #0ebeff, #ffdd40, #ae63e4, #47cf73);
    border-radius: 5px 5px 0px 0px;
}

.offcanvas .create-btn:hover {
    background-color: #000000;
}

.offcanvas .create-btn:hover i {
    color: #76daff;
}

.offcanvas .create-link {
    height: 100%;
    width: 100%;
}

.offcanvas .link {
    width: 100%;
    height: 38px;
    transition: ease .1s;
}

.offcanvas .link:hover {
    background-color: #131417;
}




/* Media Queries */
@media (max-width: 768px) {

    .navbar {
        height: 64px;
    }

    .navbar input {
        width: 100px;
    }

}