*{
    /* border: 1px solid red; */
}
.navbar{
    height: unset;
}

/* Main Content */
.main-content{
    background-color: black !important;
}
.editor-wrapper{
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid #1e1f26;
    border-right: 1px solid #1e1f26;
}
.v-scroll-hidder{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    background-color: black;
    height: 100%;
    width: 20px;
    border-left: 1px solid #1e1f26;
}
.editor-title{
    width: 100px;
    border-left: 1px solid #1e1f26;
    border-right: 1px solid #1e1f26;
    border-top: 3px solid #3d3f4d;
    background-color: #1e1f26;
}
.screen iframe{
    width: 100%;
    aspect-ratio: 16/9;
}

/* Footer */
.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 25px;
    background-color: #2b2c36;
    font-size: 12px;
}


/* Modal -- Save Form */
.modal .error{
    font-size: 12px;
}
.modal .form-check-input, .form-check-label{
    cursor: pointer;
}
.modal .save-btn{
    background-color: #47cf73 !important;
}
.modal .save-btn:hover{
    background-color: #2c8147 !important;
}

.preview{
    display: flex;
    justify-content: center;
}

.pen-card {
    position: relative;
    margin-left: 12px; /* dependant variable!*/
    padding: 12px; /* left & right padding dependant variable!*/
    
    /* Width of pen-card = [ width(sidebar) + width(pen-card margin left 12px)*2 + width(scroll bar 17px) + width(next page overflow 170 px) ] / 2 (divided by two cards) */
    width: calc(50vw - 188px);
}

.card-background{
    position: absolute;
    top: 35px;
    right: 0px;
    height: calc( 100% - 45px );
    width: calc(100% - 24px);
    background-color: #1e1f26;
    border-radius: 10px;
    transition: ease 0.3s;
}

.pen-card .card-info{
    overflow: hidden;
}

/* .pen-card:hover .card-background{
    top: 0;
    width: 100%;
    height: 100%;
} */

/* .pen-card:hover .card-footer{
    opacity: 1;
} */

iframe {
    position: relative;
    z-index: 1;
    width: 100vw;
    aspect-ratio: 16/9;
    transform-origin: top left;
    overflow-y: hidden !important;
}

.card-body{
    position: relative;
    z-index: 1;
    margin-top: 8px;
    margin-bottom: 5px;
}

.card-body img{
    width: 40px;
    height: 40px;
    border-radius: 4px;
}

.card-title{
    font-size: 17px;
    line-height: 1.2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-owner{
    font-size: 13px;
    line-height: 1.2;
    letter-spacing: -0.15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: rgb(150, 148, 148);
}
/* .card-owner:hover{
    color: #ffffff !important;
} */

.card-footer{
    position: relative;
    z-index: 2;
    opacity: 0;
    transition: ease 0.3s !important;
}
.card-footer button{
    background-color: #444857;
    font-size: 11px;
    border-radius: 4px;
}
.card-footer button:hover{
    background-color: #61677b;
    color: white;
}
