* {
    /* border: 1px solid red; */
}

.main-content {
    min-height: calc(100vh - 70px);
    position: relative;
}

.messages {
    position: relative;
    z-index: 1;
    background-color: #00000050;
    height: calc(100vh - 70px);
    width: 405px;
    overflow-y: scroll;
}
.messages .list-group{
    /* keeps scroll bar on screen */
    min-height: 100vh; 
}
.messages::-webkit-scrollbar {
    width: 5px;
}

.messages::-webkit-scrollbar-track {
    background: #000000;
}

.messages::-webkit-scrollbar-thumb {
    background: #76daff;
    border-radius: 50px;
}

.list-group {
    width: 400px;
}

.list-group img {
    width: 35px;
    height: 35px;
    border-radius: 5px;
}

.list-group h6 i {
    font-size: 12px;
}

.message-content {
    width: 275px;
    height: auto;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
    margin: 0;
    font-size: 14px;
}

.chat-field{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 0;
    background-color: #000000;
    /* height: 50px; */
    width: 100%;
}