* {
    /* border: 1px solid red; */
}

.main-content {
    position: relative;
    /* Initial height set in messages.js */
    height: 0;
    overflow: hidden;
}

.conversations {
    position: relative;
    z-index: 1;
    background-color: #00000050;
    width: 400px;
    overflow-y: scroll;
    margin-left: 5px;
}

.conversations::-webkit-scrollbar {
    width: 5px;
}

.conversations::-webkit-scrollbar-track {
    background: #000000;
}

.conversations::-webkit-scrollbar-thumb {
    background: #76daff;
    border-radius: 50px;
}


.conversations img {
    width: 35px;
    height: 35px;
    border-radius: 5px;
}

.conversations h6 i {
    font-size: 12px;
}

/* message content for thread */
.conversations .message-content {
    width: 275px;
    height: auto;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
    margin: 0;
    font-size: 14px;
}

.chat {
    overflow-y: scroll; /* Enable scrolling */
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer */
    width: calc(100vw - 600px);
}

/* Hide scrollbar for WebKit-based browsers (Chrome, Safari, etc.) */
.chat::-webkit-scrollbar {
    display: none;
}

.messages{
    margin-bottom: 90px !important;

    /* border: 1px solid white; */
}
.message .sender{
    color: rgb(184, 184, 184);
    font-size: 14px;
}
.message img{
    width: 35px;
    height: 35px;
    border-radius: 5px;
    opacity: 0.85;
    }
/* .message img{
    width: 35px;
    height: 35px;
    opacity: 0.7;
    border-radius: 5px;
} */
.message .time-stamp{
    display: flex;
    align-items: end;
    font-size: 12px;
}
.message .content{
    font-size: 15px;
}
.chat-box{
    position: absolute;
    bottom: 0;
    width: calc(100vw - 570px);
    background-color: #00000099;
    height: 70px;
    border-top: 1px solid #2b2c36;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 25px;
    /* border: 1px solid red; */
    box-shadow: inset 0px -4px 30px rgb(0, 0, 0);

}
.chat-box textarea{
    resize: none;
    overflow-y: hidden;
}
.chat-box form button{
    background-color: #000000;
    background-color: red;
    background-color: #76daff;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    /* color: #76daff; */
    border: none;
}

@media (max-width: 768px) {

    .conversations{
        width: 100%;
    }
}
@media (max-width: 992px) {

    .chat{
        /* background-color: red; */
        width: unset;
        padding-right: 10px;
    }
    .chat-box{
        width: 100%;
    }
}