*{
    /* border: 1px solid red; */
}
.list-btn{
    background-color: #444857 !important;
}
.grid-btn{
    background-color: #44485750 !important;
}
.bi-list{
    color: #76daff;
}
.main-content .links {
    border-bottom: 2px solid #76daff;
}

.main-content .links a:hover {
    color: white !important;
}

.your-work .title a {
    color: #76daff;
    font-size: 14px !important;
}