*{
    /* border: 1px solid red; */
}
table .title{
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #76daff !important;

    width: 120px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
table .title:hover{
    color: #76daff80 !important;
}
table .stats{
    font-size: 15px;
}
