{% extends 'core/base_editor.html' %}

{% load static %}

{% block head_title %}
<title>ClonePen | {{pen.title}}</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'core/css/pen/detail.css' %}">
<link rel="stylesheet" href="{% static 'core/css/base_site.css' %}">
<link rel="stylesheet" href="{% static 'core/css/base_editor.css' %}">
{% endblock %}

{% block navbar %}
<nav class="navbar">
    <div class="container-fluid d-flex">
        <div class="d-flex align-items-center gap-2">
            <a href="{% url 'core:trending' %}">
                <i class="fa-brands fa-codepen text-white fs-1"></i>
            </a>
            <div class="pen-info">
                <h2 class="pen-title text-white fw-bolder">{{pen.title}}</h2>
                <a class="pen-owner" href="">{{pen.owner}}</a>
            </div>
        </div>

        <div class="d-flex menus gap-2">
            <meta name="csrf-token" content="{{ csrf_token }}">
            {% if pen in user.profile.pinned_items.all %}
            <button class="btn px-3 py-1 rounded-1" onclick="togglePin(this, {{pen.pk}})"><i
                    class="bi bi-pin-fill text-white fs-5"></i></button>
            {% else %}
            <button class="btn px-3 py-1 rounded-1" onclick="togglePin(this, {{pen.pk}})"><i
                    class="bi bi-pin text-white"></i></button>
            {% endif %}

            <!-- Dropdown Trigger -- User Menu Drodown -->
            <div class="dropdown">
                <img data-bs-toggle="dropdown" class="rounded-1" src="{% static 'core/assets/profile_codepen.png' %}"
                    alt="">
                <ul class="dropdown-menu dropdown-menu-dark text-white">
                    {% if user.is_authenticated %}
                    <li>
                        <a class="dropdown-item text-white fw-medium"
                            href="{% url 'core:profile' user.username %}">Profile</a>
                    </li>
                    {% else %}
                    <li>
                        <a class="dropdown-item text-white fw-medium" href="{% url 'accounts:login' %}">Profile</a>
                    </li>
                    {% endif %}
                    <li>
                        <a class="dropdown-item text-white fw-medium" href="#">Support</a>
                    </li>
                    <hr class="mt-5 mb-1">
                    <li>
                        <form action="{% url 'accounts:logout' %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="dropdown-item text-white fw-medium"><i
                                    class="bi bi-box-arrow-right text-white"></i> Logout</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
{% endblock %}


<!-- Main Content -->
{% block maincontent %}
<div class="main-content container-fluid p-0">
    <!-- Editor -->
    <div class="row pb-3 d-block d-lg-flex m-0">
        <div class="col p-0 editor-wrapper">
            <div class="v-scroll-hidder"></div>
            <div class="editor-title text-secondary fw-bolder py-1 ps-2">
                <i class="fa-brands fa-html5 text-danger me-2"></i>HTML
            </div>
            <textarea class="editor" id="html-editor" name="html" oninput="updatePreview()">{{pen.html}}</textarea>
        </div>
        <div class="col p-0 editor-wrapper">
            <div class="v-scroll-hidder"></div>
            <div class="editor-title text-secondary fw-bolder py-1 ps-2">
                <i class="fa-brands fa-css3-alt me-2 text-info"></i>CSS
            </div>
            <textarea class="editor" id="css-editor" name="css" oninput="updatePreview()">{{pen.css}}</textarea>
        </div>
        <div class="col p-0 editor-wrapper">
            <div class="v-scroll-hidder"></div>
            <div class="editor-title text-secondary fw-bolder py-1 ps-2">
                <i class="fa-brands fa-square-js me-2 text-warning"></i>JS
            </div>
            <textarea class="editor" id="js-editor" name="js" oninput="updatePreview()">{{pen.js}}</textarea>
        </div>
    </div>

    <div class="bg-black pb-3 d-lg-none"></div>

    <!-- Screen -->
    <div class="screen bg-white">
        <iframe id="iframe" src="" frameborder="0"></iframe>
    </div>
    {% endblock %}


    {% block js %}
    <script src="{% static './core/js/pen/detail.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    {% endblock %}