{% extends 'core/base_site.html' %}

{% load static %}

{% block head_title %}
<title>Inbox - ClonePen</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'core/css/base_site.css' %}">
<link rel="stylesheet" href="{% static 'core/css/menu/messages.css' %}">
{% endblock %}

<!-- makes menu link icon active color -->
{% block messages-link %}
<i class="bi bi-chat-left-fill active"></i>Messages<span id="unread-count"
    class="bg-warning text-black badge rounded-pill"></span>
{% endblock %}
{% block messages-link-offcanvas %}
<i class="bi bi-chat-left-fill active"></i>Messages
{% endblock %}

<!-- main content -->
{% block main-content %}
<div id="main-content" class="main-content container-fluid p-0 d-flex">
    <div class="conversations list-group d-none d-lg-block" data-bs-theme="dark">
        {% for conversation in conversations %}
        <a href="{% url 'core:chat' pk=conversation.pk username1=conversation.participants.first username2=conversation.participants.last %}"
            class="conversation list-group-item list-group-item-action d-flex" aria-current="true"
            style="{% if conversation != chat %}opacity: 0.6;{% endif %}">
            <img class="me-3 mt-1" src="{% static 'core/assets/profile_codepen.png' %}" alt="">
            <div class="d-flex w-100 justify-content-between">
                <div>
                    {% for participant in conversation.participants.all %}
                    {% if participant != user %}
                    {% if conversation.messages.last.is_read and conversation.messages.last.sender == user%}
                    <h6 class="mb-1 text-body-secondary">
                        {{participant.username}} <i class="bi bi-check-all text-primary"></i>
                    </h6>
                    {% elif conversation.messages.last.sender == user %}
                    <h6 class="mb-1 text-body-secondary">
                        {{participant.username}}<i class="bi bi-arrow-up-right ms-1"></i>
                    </h6>
                    {% elif conversation.messages.last.is_read %}
                    <h6 class="mb-1 text-body-secondary">
                        {{participant.username}}
                    </h6>
                    {% else %}
                    <h6 class="mb-1 text-white">
                        {{participant.username}}
                    </h6>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                    {% if conversation.messages.last.is_read or conversation.messages.last.sender == user %}
                    <p class="message-content text-secondary fw-medium">{{conversation.last_message}}</p>
                    {% else %}
                    <p class="message-content text-white fw-medium">{{conversation.last_message}}</p>
                    {% endif %}
                </div>
                <small class="text-body-secondary">3d</i></small>
            </div>
        </a>

        {% endfor %}
    </div>
    <div class="chat">
        <div class="messages">
            {% for message in chat.messages.all %}
            <div class="message pt-3 pb-1">
                <div class="d-flex">
                    <img class="mx-3 mt-1" src="{% static 'core/assets/profile_codepen.png' %}" alt="">
                    <div class="">
                        <div class="d-flex gap-2">
                            {% if message.sender == user %}
                            <p class="sender m-0 fw-medium">{{message.sender}}</p>
                            {% else %}
                            <a href="{% url 'core:profile' message.sender.username %}"><p class="sender m-0 fw-medium">{{message.sender}}</p></a>
                            {% endif %}
                            <small class="time-stamp text-secondary ms-1">{{message.created}}</small>
                        </div>
                        <p class="content text-secondary p-0 m-0 fw-">{{message.content}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="chat-box">
            <form action="{% url 'core:message-create' pk=chat.pk%}" class="d-flex align-items-center" method="POST">
                {% csrf_token %}
                <a href="{% url 'core:messages' %}" class="d-flex align-items-center me-2 text-white d-lg-none"><i
                        class="bi bi-arrow-left"></i><i class="bi bi-person-lines-fill"></i></a>
                <textarea class="form-control rounded-1" id="" rows="2" data-bs-theme="dark"
                    placeholder="Write message.." name="content"></textarea>
                <button type="submit" class="ms-2"><i class="bi bi-send"></i></button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}{% endblock %}

{% block js %}
<script src="{% static './core/js/menu/messages.js'%}"></script>
{% endblock %}