{% extends 'core/base_site.html' %}

{% block head_title %}
<title>ClonePen</title>
{% endblock %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'core/css/base_site.css' %}">
<link rel="stylesheet" href="{% static 'core/css/menu/landing.css' %}">
{% endblock %}

{% block main-content %}
<div class="main-content container-fluid">
    <div class="logo fs-2 text-white text-decoration-none ps-3 mt-5">
        <span class="d-flex justify-content-center align-items-center">CL<i class="fa-brands fa-codepen "></i>NEPEN</span>
    </div>
    <div class="image-container mt-5">
        <div class="front d-flex flex-column justify-content-center align-items-center">
            <h1 class="w-75 text-white fw-bold text-center">The best place to build, test, and discover front-end code.</h1>
            <p class="w-75 mt-2 text-center text-light-white">ClonePen is a clone of <span class="fw-semibold">CodePen</span>—to showcase skill and ability. We are not affiliated with CodePen in anyway, nor are we trying to pose as the official site.</p>
            <button class="btn fs-5 px-3 py-2 mt-4">Sign Up for Free</button>
        </div>
        <div class="squares d-flex justify-content-evenly mt-5">
            <div class="square rounded-3 text-white py-4 px-3">
                <h4 class="">Build & Test</h4>
                <p class="sq-text text-light-white">Get work done quicker by building out entire projects or isolating code to test features and animations. Choose whether to keep your work private, or share it with the community.</p>
                <button class="btn">Create Demo Account</button>
            </div>
            <div class="square rounded-3 text-white py-4 px-3">
                <h4 class="">Share Your Work</h4>
                <p class="sq-text text-light-white">Become a part of the most active front-end community in the world by sharing work. Presenting at a conference? Show your code directly in the browser with Presentation Mode.</p>
                <button class="btn">Try the Editor</button>
            </div>
            <div class="square rounded-3 text-white py-4 px-3">
                <h4 class="">Gain a Following</h4>
                <p class="sq-text text-light-white">By sharing high-quality projects and engaging with others, you can build a loyal audience, earn recognition, and connect with fellow developers who appreciate your work.</p>
                <button class="btn">Explore Trending</button>
            </div>
        </div>
        <img alt="" class="HomepageAnonHeader_bg-btg1n" src="https://cpwebassets.codepen.io/assets/packs/lines-2-4e66616a5ef291c3566a7ddfe1ffaaa8.svg">
        <img alt="" class="HomepageAnonCards_bg--UmJ9" src="https://cpwebassets.codepen.io/assets/packs/lines-4-4ea88270d73b7f6eaaa69e91aed97ddf.svg">
    </div>
</div>
{% endblock %}