{% extends 'core/base_site.html' %}

{% block head_title %}
<title>Trending - ClonePen</title>
{% endblock %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'core/css/base_site.css' %}">
<link rel="stylesheet" href="{% static 'core/css/menu/profile.css' %}">
{% endblock %}

<!-- makes menu link icon active color -->
{% block your-work-link-navbar %}
{% if profile.user == user %}
<button type="button" class="btn btn-primary px-4 rounded-end-1 selected">
    <a href="{% url 'core:profile' user.username %}" class="text-white text-decoration-none">Your Work</a>
</button>
{% else %}
<button type="button" class="btn btn-primary px-4 rounded-end-1">
    <a href="{% url 'core:profile' user.username %}" class="text-white text-decoration-none">Your Work</a>
</button>
{% endif %}
{% endblock %}
{% block your-work-link %}
{% if profile.user == user %}
<i class="bi bi-grid-fill active"></i>Your Work
{% else %}
<i class="bi bi-grid-fill"></i>Your Work
{% endif %}
{% endblock %}
{% block your-work-link-offcanvas %}
{% if profile.user == user %}
<i class="bi bi-grid-fill active"></i>Your Work
{% else %}
<i class="bi bi-grid-fill"></i>Your Work
{% endif %}
{% endblock %}

<!-- main content -->
{% block main-content %}
<div id="main-content" class="main-content container-fluid" onload="scaleIframes();">
    <div class="profile">
        <div class="background"></div>
        <div class="profile-header">
            <h2 class="text-white fw-bold">@{{profile}}</h2>
            <img src="{% static 'core/assets/profile_codepen.png' %}" alt="">
        </div>
    </div>
    <div class="location text-secondary"><i class="bi bi-geo-alt-fill me-1"></i>Hawaii, USA</div>
    <em class="bio text-white px-4">"Demo or it didn't happen."</em>
    <hr id="pages" class="text-secondary">
    <div class="px-5">
        <div class="links d-flex align-items-end justify-content-between pb-2 mb-4">
            {% if profile.user == user %}
            <div class="d-flex justify-content-between w-100 mb-1">
                <div class="d-flex gap-5">
                    <a href="" class="text-white"><i class="bi bi-grid-fill"></i> Your Work</a>
                    <a href="{% url 'core:pen-create' %}" class="text-secondary"><i class="bi bi-grid-1x2-fill"></i> Create Pen</a>
                </div>
                <div>
                    <a href="" class="text-secondary"><i class="bi bi-gear-wide-connected"></i> Settings</a>
                </div>
            </div>
            {% else %}
            <div class="d-flex w-100 justify-content-end gap-4">
                <button type="button" class="message-btn btn text-white rounded-1 border border-white"
                    data-bs-toggle="modal" data-bs-target="#message-modal">
                    <i class="bi bi-chat-quote-fill me-2"></i>Message
                </button>
                {% if profile in user.profile.following.all %}
                <button class="unfollow-btn rounded-1 pe-3 ps-2" onclick="toggleFollow(this, {{profile.pk}})"><i
                        class="bi bi-person-dash me-2"></i>Unfollow</button>
                {% else %}
                <button class="follow-btn rounded-1 pe-3 ps-2" onclick="toggleFollow(this, {{profile.pk}})"><i
                        class="bi bi-person-add me-2"></i>Follow</button>
                {% endif %}
            </div>
            {% endif %}
        </div>
        <a href="{% url 'core:your-work-list' user.username %}">
            <div class="btn-group layout-btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn border border-secondary list-btn py-0 px-2"><i
                        class="bi bi-list fs-4 text-white"></i></button>
                <button type="button" class="btn border border-secondary grid-btn py-0 px-2"><i
                        class="bi bi-grid-3x2-gap-fill fs-4"></i></button>
            </div>
        </a>
        {% if not page_object %}
        {% if profile.user == user %}
        <div class="d-flex flex-column justify-content-center align-items-center w-100" style="height: 40vh;">
            <p class="text-secondary text-center fs-5 m-0 fw-bolder">You haven't created anything yet..</p>
            <a href="{% url 'core:pen-create' %}" class="fw-bolder" style="color: #76daff;">Create Pen</a>
        </div>
        {% else %}
        <div class="d-flex flex-column justify-content-center align-items-center w-100" style="height: 40vh;">
            <p class="text-secondary text-center fs-5 m-0 fw-bolder">This person has not created</p>
            <p class="text-secondary text-center fs-5 m-0 fw-bolder">any public pens yet..</p>
        </div>
        {% endif %}
        {% endif %}
    </div>
    <div class="pages d-flex">
        {% if page_object.has_previous %}
        <div class="page previous-page d-none d-md-block"></div>
        {% endif %}
        <div class="page">
            {% for pen in page_object %}
            <div class="pen-card pb-0" data-bs-theme="dark">
                <div class="card-background"></div>
                {% if pen.owner == user %}
                <a href="{% url 'core:pen-update' pen.slug %}" class="pen-link"></a>
                {% else %}
                <a href="{{pen.get_absolute_url}}" class="pen-link"></a>
                {% endif %}
                <iframe srcdoc="<body>{{pen.html}}<style>{{pen.css}}</style><script>{{pen.js}}</script></body>"
                    frameborder="0" class="rounded-4" scrolling="no"></iframe>
                <div class="card-body d-flex gap-2">
                    <div class="card-info ps-3 py-1">
                        {% if pen.owner == user %}
                        <a href="{% url 'core:pen-update' pen.slug %}">
                            <h2 class="card-title text-white fw-bolder">{{pen.title}}</h2>
                        </a>
                        {% else %}
                        <a href="{% url 'core:pen-detail' pen.slug %}">
                            <h2 class="card-title text-white fw-bolder">{{pen.title}}</h2>
                        </a>
                        {% endif %}
                    </div>
                </div>
                <div class="card-footer p-0 ps-3 pb-3 d-flex gap-2">
                    {% if pen.public %}
                    <button class="btn px-2 py-1"><i class="bi bi-pin-fill"></i> {{pen.pinned_profiles.count}}</button>
                    <button class="btn px-2 py-1"><i class="bi bi-chat-left-fill me-1"></i>8000</button>
                    <a href="{% url 'core:pen-detail' pen.slug %}">
                        <button class="btn px-2 py-1"><i class="bi bi-eye-fill me-1"></i>{{pen.views}}</button>
                    </a>
                    {% else %}
                    <button class="btn px-2 py-1 text-secondary" disabled><i class="bi bi-pin-fill"></i>
                        {{pen.pinned_profiles.count}}</button>
                    <button class="btn px-2 py-1 text-secondary" disabled><i
                            class="bi bi-chat-left-fill me-1"></i>8000</button>
                    <button class="btn px-2 py-1 text-secondary" disabled><i
                            class="bi bi-eye-fill me-1"></i>{{pen.views}}</button>
                    <button class="btn px-2 py-1 text-white" disabled><i
                            class="bi bi-lock-fill me-1 text-danger"></i>Not Public</button>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
        {% if page_object.has_next %}
        <div class="page next-page">
            <a href="?page={{ page_object.next_page_number }}" class="next-page-link d-none d-md-block"></a>
            {% for pen in next_page_object %}
            <div class="pen-card pb-0" data-bs-theme="dark">
                <div class="card-background"></div>
                <iframe srcdoc="<body>{{pen.html}}<style>{{pen.css}}</style><script>{{pen.js}}</script></body>"
                    frameborder="0" class="rounded-4" scrolling="no"></iframe>
                <div class="card-body d-flex gap-2">
                    <div class="card-info ps-3 py-1">
                        <h2 class="card-title text-white fw-bolder">{{pen.title}}</h2>
                    </div>
                </div>
                <div class="card-footer p-0 ps-3 pb-3">
                    <button class="btn px-2 py-1"><i class="bi bi-pin-fill"></i> {{pen.pinned_profiles.count}}</button>
                    <button class="btn px-2 py-1"><i class="bi bi-chat-left-fill"></i> 8000</button>
                    {% if pen.public %}
                    <button class="btn px-2 py-1"><i class="bi bi-eye-fill"></i> {{pen.views}}</button>
                    {% else %}
                    <button class="btn px-2 py-1"><i class="bi bi-eye-slash"></i></button>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        <!-- pagination -->
        {% if page_object.has_previous %}
        <a href="?page={{ page_object.previous_page_number }}#pages">
            <div class="previous-page-btn d-flex justify-content-center align-items-center rounded-1">
                <i class="bi bi-caret-left-fill fs-4"></i>
            </div>
        </a>
        {% endif %}
        {% if page_object.has_next %}
        <a href="?page={{ page_object.next_page_number }}#pages">
            <div class="next-page-btn d-flex justify-content-center align-items-center rounded-1">
                <i class="bi bi-caret-right-fill fs-4"></i>
            </div>
        </a>
        {% endif %}
    </div>
</div>
<!-- Modal -- Message -->
<div class="modal fade" id="message-modal" data-bs-theme="dark" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <img class="rounded-pill me-2" src="{% static 'core/assets/profile_codepen.png' %}" alt=""
                    style="height: 30px; width: 30px;">
                <p class="mb-0 text-white">@{{profile.user.username}}</p>
                <button type="button" class="btn-close text-secondary" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'core:chat-create' user.pk profile.user.pk %}" class="d-flex align-items-end"
                    method="POST">
                    {% csrf_token %}
                    <textarea class="form-control rounded-1" id="" rows="3" data-bs-theme="dark"
                        placeholder="Write message.." name="content"></textarea>
                    <button type="submit" class="ms-2"><i class="bi bi-send"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static './core/js/menu/profile.js' %}"></script>
{% endblock %}