{% extends 'core/base_site.html' %}

{% block head_title %}
<title>Trending - ClonePen</title>
{% endblock %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'core/css/base_site.css' %}">
<link rel="stylesheet" href="{% static 'core/css/menu/profile.css' %}">
<link rel="stylesheet" href="{% static 'core/css/menu/profile_list_view.css' %}">
{% endblock %}

<!-- makes menu link icon active color -->
{% block your-work-link-navbar %}
{% if profile.user == user %}
<button type="button" class="btn btn-primary px-4 rounded-end-1 selected">
    <a href="{% url 'core:profile' user.username %}" class="text-white text-decoration-none">Your Work</a>
</button>
{% else %}
<button type="button" class="btn btn-primary px-4 rounded-end-1">
    <a href="{% url 'core:profile' user.username %}" class="text-white text-decoration-none">Your Work</a>
</button>
{% endif %}
{% endblock %}
{% block your-work-link %}
{% if profile.user == user %}
<i class="bi bi-grid-fill active"></i>Your Work
{% else %}
<i class="bi bi-grid-fill"></i>Your Work
{% endif %}
{% endblock %}
{% block your-work-link-offcanvas %}
{% if profile.user == user %}
<i class="bi bi-grid-fill active"></i>Your Work
{% else %}
<i class="bi bi-grid-fill"></i>Your Work
{% endif %}
{% endblock %}

<!-- main content -->
{% block main-content %}
<div id="main-content" class="main-content container-fluid" onload="scaleIframes();">
    <div class="profile">
        <div class="background"></div>
        <div class="profile-header">
            <h2 class="text-white fw-bold">@{{profile}}</h2>
            <img src="{% static 'core/assets/profile_codepen.png' %}" alt="">
        </div>
    </div>
    <div class="location text-secondary"><i class="bi bi-geo-alt-fill me-1"></i>Hawaii, USA</div>
    <em class="bio text-white px-4">"Demo or it didn't happen."</em>
    <hr id="pages" class="text-secondary">
    <div class="px-2 px-md-5">
        <div class="links d-flex align-items-end justify-content-between pb-2 mb-4">
            {% if profile.user == user %}
            <div class="d-flex justify-content-between w-100 mb-1">
                <div class="d-flex gap-5">
                    <a href="" class="text-white"><i class="bi bi-grid-fill"></i> Your Work</a>
                    <a href="{% url 'core:pen-create' %}" class="text-secondary"><i class="bi bi-grid-1x2-fill"></i>
                        Create Pen</a>
                </div>
                <div>
                    <a href="" class="text-secondary"><i class="bi bi-gear-wide-connected"></i> Settings</a>
                </div>
            </div>
            {% else %}
            <div class="d-flex w-100 justify-content-end gap-4">
                <button type="button" class="message-btn btn text-white rounded-1 border border-white"
                    data-bs-toggle="modal" data-bs-target="#message-modal">
                    <i class="bi bi-chat-quote-fill me-2"></i>Message
                </button>
                {% if profile in user.profile.following.all %}
                <button class="unfollow-btn rounded-1 pe-3 ps-2" onclick="toggleFollow(this, {{profile.pk}})"><i
                        class="bi bi-person-dash me-2"></i>Unfollow</button>
                {% else %}
                <button class="follow-btn rounded-1 pe-3 ps-2" onclick="toggleFollow(this, {{profile.pk}})"><i
                        class="bi bi-person-add me-2"></i>Follow</button>
                {% endif %}
            </div>
            {% endif %}
        </div>
        <a href="{% url 'core:profile' user.username %}">
            <div class="btn-group layout-btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn border border-secondary list-btn py-0 px-2"
                    style="background-color: #444857;"><i class="bi bi-list fs-4" style="color:#76daff;"></i></button>
                <button type="button" class="btn border border-secondary grid-btn py-0 px-2"
                    style="background-color: #44485750;"><i
                        class="bi bi-grid-3x2-gap-fill fs-4 text-white"></i></button>
            </div>
        </a>
        {% if not pens %}
        {% if profile.user == user %}
        <div class="d-flex flex-column justify-content-center align-items-center w-100" style="height: 40vh;">
            <p class="text-secondary text-center fs-5 m-0 fw-bolder">You haven't created anything yet..</p>
            <a href="{% url 'core:pen-create' %}" class="fw-bolder" style="color: #76daff;">Create Pen</a>
        </div>
        {% else %}
        <div class="d-flex flex-column justify-content-center align-items-center w-100" style="height: 40vh;">
            <p class="text-secondary text-center fs-5 m-0 fw-bolder">This person has not created</p>
            <p class="text-secondary text-center fs-5 m-0 fw-bolder">any public pens yet..</p>
        </div>
        {% endif %}
        {% endif %}
        <!-- Table -->
        <table class="table table-striped mt-4 mb-5" data-bs-theme="dark">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col" class="text-center">Status</th>
                    <th scope="col" class="text-center d-none d-md-table-cell">Updated</th>
                    <th scope="col" class="d-none d-lg-table-cell">Created</th>
                    <th scope="col" class="text-center">Stats</th>
                </tr>
            </thead>
            <tbody>
                {% for pen in pens %}
                <tr>
                    {% if pen.owner == user %}
                    <td ><a href="{% url 'core:pen-update' pen.slug %}"><p class="title">{{pen.title}}</p></a></td>
                    {% else %}
                    <td><a href="{{pen.get_absolute_url}}" class="title"><small>{{pen.title}}</small></a></td>
                    {% endif %}
                    {% if pen.public %}
                    <td class="text-center"><small><i class="bi bi-unlock text-success"></i></small></td>
                    {% else %}
                    <td class="text-center"><small><i class="bi bi-lock-fill text-danger"></i></small></td>
                    {% endif %}
                    <td class="text-center d-none d-md-table-cell"><small>{{pen.modified_timestamp}} <span class="text-secondary">ago</span></small></td>
                    <td class="d-none d-lg-table-cell"><small>{{pen.created}}</small></td>
                    <td class="text-center text-secondary stats">
                        <span class="me-4"><i class="bi bi-pin-fill"></i> {{pen.pinned_profiles.count}}</span>
                        <span class="me-4"><i class="bi bi-chat-left-fill"></i> 28</span>
                        <span><i class="bi bi-eye-fill"></i> {{pen.views}}</span>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        
    </div>
</div>
<!-- Modal -- Message -->
<div class="modal fade" id="message-modal" data-bs-theme="dark" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <img class="rounded-pill me-2" src="{% static 'core/assets/profile_codepen.png' %}" alt=""
                    style="height: 30px; width: 30px;">
                <p class="mb-0 text-white">@{{profile.user.username}}</p>
                <button type="button" class="btn-close text-secondary" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'core:chat-create' user.pk profile.user.pk %}" class="d-flex align-items-end"
                    method="POST">
                    {% csrf_token %}
                    <textarea class="form-control rounded-1" id="" rows="3" data-bs-theme="dark"
                        placeholder="Write message.." name="content"></textarea>
                    <button type="submit" class="ms-2"><i class="bi bi-send"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static './core/js/menu/profile.js' %}"></script>
{% endblock %}