{% extends 'core/base_site.html' %}

{% block head_title %}
<title>Trending - ClonePen</title>
{% endblock %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'core/css/base_site.css' %}">
<link rel="stylesheet" href="{% static 'core/css/menu/trending.css' %}">
{% endblock %}

<!-- makes menu link icon active color -->
{% block trending-link %}
<i class="bi bi-bar-chart-line-fill active"></i>Trending
{% endblock %}
{% block trending-link-offcanvas %}
<i class="bi bi-bar-chart-line-fill active"></i>Trending
{% endblock %}

<!-- main content -->
{% block main-content %}
<div class="main-content container-fluid" onload="scaleIframes();">
    <div class="pages d-flex">
        <div class="page">
            {% for pen in page_object %}
            <div class="pen-card" data-bs-theme="dark">
                <div class="card-background"></div>
                <iframe srcdoc="<body>{{pen.html}}<style>{{pen.css}}</style><script>{{pen.js}}</script></body>"
                    frameborder="0" class="rounded-4"></iframe>
                <div class="card-body d-flex gap-2">
                    <a href="">
                        <img data-bs-toggle="dropdown" src="{% static 'core/assets/profile_codepen.png' %}" alt="">
                    </a>
                    <div class="card-info">
                        <a href="">
                            <h2 class="card-title text-white fw-bolder">{{pen.title}}</h2>
                        </a>
                        <a class="card-owner" href="">{{pen.owner}}</a>
                    </div>
                </div>
                <div class="card-footer p-0">
                    <a href="">
                        <button class="btn px-2 py-1"><i class="bi bi-pin"></i> 86</button>
                    </a>
                    <a href="">
                        <button class="btn px-2 py-1"><i class="bi bi-chat-left"></i> 8</button>
                    </a>
                    <a href="">
                        <button class="btn px-2 py-1"><i class="bi bi-eye"></i> 406</button>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% if page_object.has_next %}
        <a href="" style="border: 1px solid red;">
            <div class="page next-page">
                {% for pen in next_page_object %}
                <div class="pen-card" data-bs-theme="dark">
                    <div class="card-background"></div>
                    <iframe srcdoc="<body>{{pen.html}}<style>{{pen.css}}</style><script>{{pen.js}}</script></body>"
                        frameborder="0" class="rounded-4"></iframe>
                    <div class="card-body d-flex gap-2">
                        <img data-bs-toggle="dropdown" src="{% static 'core/assets/profile_codepen.png' %}" alt="">
                        <div class="card-info">
                            <h2 class="card-title text-white fw-bolder">{{pen.title}}</h2>
                            <a class="card-owner text-secondary" href="">{{pen.owner}}</a>
                        </div>
                    </div>
                    <div class="card-footer p-0">
                    </div>
                </div>
                {% endfor %}
            </div>
        </a>
        {% endif %}
    </div>

    <!-- pagination -->
    <div class="pagination">
        {% if page_object.has_previous %}
        <a href="?page=1">First</a> |
        <a href="?page={{ page_object.previous_page_number }}">Last</a>
        {% endif %}

        <span class="step-links">
            <span class="current">
                Page {{page_object.number}} of {{page_object.paginator.num_pages}}.
            </span>
        </span>

        {% if page_object.has_next %}
        <a href="?page={{ page_object.next_page_number }}">Next</a> |
        <a href="?page={{ page_object.paginator.num_pages }}">Last</a>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static './core/js/menu/trending.js' %}"></script>
{% endblock %}