{% extends 'core/base_site.html' %}

{% load static %}

{% block head_title %}
<title>Your Work - ClonePen</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'core/css/base_site.css' %}">
<link rel="stylesheet" href="{% static 'core/css/menu/your_work_grid.css' %}">
<!-- <link rel="stylesheet" href="{% static 'core/css/menu/profile.css' %}"> -->
{% endblock %}

<!-- makes menu link icon active color -->
{% block your-work-link %}
<i class="bi bi-grid-fill active"></i>Your Work
{% endblock %}
{% block your-work-link-offcanvas %}
<i class="bi bi-grid-fill active"></i>Your Work
{% endblock %}
{% block your-work-link-navbar %}
<button type="button" class="btn btn-primary px-4 rounded-end-1 selected">
    <a href="{% url 'core:your-work-grid' user.username %}" class="text-white text-decoration-none">Your Work</a>
</button>
{% endblock %}

<!-- main content -->
{% block main-content %}
<div id="main-content" class="main-content container-fluid p-5" onload="scaleIframes();">
    <div class="links d-flex align-items-end justify-content-between pb-2 mb-4">
        <div class="d-flex gap-4">
            <h6 class="text-white">Your Work</h6>
            <h6><a href="{% url 'core:pen-create' %}" class="text-secondary">Create New Pen</a></h6>
        </div>
    </div>
    <a href="{% url 'core:your-work-list' user.username %}">
        <div class="btn-group layout-btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn border border-secondary list-btn py-0 px-2"><i
                    class="bi bi-list fs-4 text-white"></i></button>
            <button type="button" class="btn border border-secondary grid-btn py-0 px-2"><i
                    class="bi bi-grid-3x2-gap-fill fs-4"></i></button>
        </div>
    </a>
    <hr id="pages">
    <div class="pages d-flex">
        {% if page_object.has_previous %}
        <div class="page previous-page d-none d-md-block"></div>
        {% endif %}
        <div class="page">
            {% for pen in page_object %}
            <div class="pen-card pb-0" data-bs-theme="dark">
                <div class="card-background"></div>
                {% if pen.owner.user == user %}
                <a href="{% url 'core:pen-update' pen.slug %}" class="pen-link"></a>
                {% else %}
                <a href="{{pen.get_absolute_url}}" class="pen-link"></a>
                {% endif %}
                <iframe srcdoc="<body>{{pen.html}}<style>{{pen.css}}</style><script>{{pen.js}}</script></body>"
                    frameborder="0" class="rounded-4" scrolling="no"></iframe>
                <div class="card-body d-flex gap-2">
                    <div class="card-info ps-3 py-1">
                        {% if pen.owner.user == user %}
                        <a href="{% url 'core:pen-update' pen.slug %}">
                            <h2 class="card-title text-white fw-bolder">{{pen.title}}</h2>
                        </a>
                        {% else %}
                        <a href="{% url 'core:pen-detail' pen.slug %}">
                            <h2 class="card-title text-white fw-bolder">{{pen.title}}</h2>
                        </a>
                        {% endif %}
                    </div>
                </div>
                <div class="card-footer p-0 ps-3 pb-3 d-flex gap-2">
                    <button class="btn px-2 py-1"><i class="bi bi-pin-fill"></i> {{pen.pinned_profiles.count}}</button>
                    <button class="btn px-2 py-1"><i class="bi bi-chat-left-fill me-1"></i>8000</button>
                    <a href="{% url 'core:pen-detail' pen.slug %}">
                        <button class="btn px-2 py-1"><i class="bi bi-eye-fill me-1"></i>{{pen.views}}</button>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% if page_object.has_next %}
        <div class="page next-page">
            <a href="?page={{ page_object.next_page_number }}" class="next-page-link d-none d-md-block"></a>
            {% for pen in next_page_object %}
            <div class="pen-card pb-0" data-bs-theme="dark">
                <div class="card-background"></div>
                <iframe srcdoc="<body>{{pen.html}}<style>{{pen.css}}</style><script>{{pen.js}}</script></body>"
                    frameborder="0" class="rounded-4" scrolling="no"></iframe>
                <div class="card-body d-flex gap-2">
                    <div class="card-info ps-3 py-1">
                        <h2 class="card-title text-white fw-bolder">{{pen.title}}</h2>
                    </div>
                </div>
                <div class="card-footer p-0 ps-3 pb-3">
                    <button class="btn px-2 py-1"><i class="bi bi-pin-fill"></i> {{pen.pinned_profiles.count}}</button>
                    <button class="btn px-2 py-1"><i class="bi bi-chat-left-fill"></i> 8000</button>
                    <button class="btn px-2 py-1"><i class="bi bi-eye-fill"></i> {{pen.views}}</button>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        <!-- pagination -->
        {% if page_object.has_previous %}
        <a href="?page={{ page_object.previous_page_number }}#pages">
            <div class="previous-page-btn d-flex justify-content-center align-items-center rounded-1">
                <i class="bi bi-caret-left-fill fs-4"></i>
            </div>
        </a>
        {% endif %}
        {% if page_object.has_next %}
        <a href="?page={{ page_object.next_page_number }}#pages">
            <div class="next-page-btn d-flex justify-content-center align-items-center rounded-1">
                <i class="bi bi-caret-right-fill fs-4"></i>
            </div>
        </a>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static './core/js/menu/your_work_grid.js' %}"></script>
{% endblock %}